<%- include('../partials/upper.ejs') %>
    <%- include('../partials/nav.ejs') %>
    <h2>help page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam provident earum assumenda odit soluta minus dolorum eius harum quo in.</p>
</body>
</html>